/* CSS - Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*********************************************
* General & Typo
**********************************************/

body{ font-family: "HelveticaNeue Light", "Helvetica Neue", Arial, sans-serif; font-size: 12px; border:none; line-height: 18px; background-image:url(../img/background2.jpg);}



/*********************************************
* Layout
**********************************************/

#logo{ margin: 50px auto; text-align: center; color: white; line-height: 100px; font-size: 60px; border-radius: 5px;}



/*********************************************
* Navigations
**********************************************/



/*********************************************
* Sections & Widgets
**********************************************/

.ui-btn-up-c{ background: #222;}
.ui-btn-hover-c{ background: #111;}
.ui-btn-down-c{ background: #555;}
.ui-btn-text{ color: white;}


/*********************************************
* Form & Tables
**********************************************/



/*********************************************
* Helpers
**********************************************/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}


/*********************************************
* Media Queries
**********************************************/


/* Devices */



/* Retina */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	
}

a {
	opacity:0.6;
}

.tabmain {
	width:90%;
	height:600px;
	background: rgba(255,255,255,0.2);
	border: 2px solid rgba(255,255,255,0.5);
	float:left;
	margin-left:15px;
	margin-top:15px;
	
}

.newsiconmain {
	height:90px;
	width:60px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}

#eventtab {
	width:80%;
	height:250px;
	background-color: rgba(255,255,255,0.2);
	border:2px solid rgba(255,255,255,0.4);
	margin:auto;
	margin-bottom:30px;
	color:white;
}

.eventicon {
	float:left;
}

.eventhead {
	text-align:center;
	margin-bottom:25%;
}

.eventtext {
	padding-left:20px;
	padding-right:20px;
	
}

#coursetab {
	width:80%;
	height:250px;
	background-color: rgba(255,255,255,0.2);
	border:2px solid rgba(255,255,255,0.4);
	margin:auto;
	margin-bottom:30px;
	color:white;

}

.courseicon {
	float:left;
	height:30%;
	width:30%;
}

.coursehead {
	text-align:center;
	margin-bottom:25%;
}

.coursetext {
	padding-left:20px;
	padding-right:20px;
	
}

.membertab1 {
	width:470px;
}

.memberimgl {
	width:120px;
	height:150px;
}

.memberimgr {
	width:120px;
	height:150px;
	float:right;
}

#membertabr1 {
	float:right;
	margin-top:-50px;
	width:420px;
	height:150px;
	border-bottom:1px solid white;
	margin-bottom:20px;

}

#membertabr2 {
	float:right;
	margin-top:0px;
	width:420px;
	height:150px;
	border-bottom:1px solid white;
	margin-bottom:20px;
}

#membertabl1 {
	
	width:80%;
	height:150px;
	border-bottom:1px solid white;
	margin:auto;
	margin-bottom:20px;
	color:white;
}

.aboutmain {
	width:80%;
	height:750px;
	background: rgba(255,255,255,0.2);
	border: 2px solid rgba(255,255,255,0.5);
	margin:auto;
	margin-top:15px;


}

.membertabl {
	margin-top:-200px;
}

.memberl {
	float:left;
	margin-top:-150px;
	margin-left:130px;
}

.newstextmain {
	margin-top:30px;
}



